In [4]:
import pandas as pd

# Load dataset using the correct path
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")

# Display first few rows
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
# Fill missing values for numeric columns only
train_data.fillna(train_data.select_dtypes(include=['number']).mean(), inplace=True)
test_data.fillna(test_data.select_dtypes(include=['number']).mean(), inplace=True)

In [12]:
import pandas as pd

# Load dataset
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")

# Fill missing values for numeric columns
train_data.fillna(train_data.select_dtypes(include=['number']).mean(), inplace=True)
test_data.fillna(test_data.select_dtypes(include=['number']).mean(), inplace=True)

# Drop unnecessary columns
train_data.drop(columns=['Cabin', 'Name', 'Ticket'], inplace=True)
test_data.drop(columns=['Cabin', 'Name', 'Ticket'], inplace=True)

# Display the first few rows
train_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Load dataset
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")

# Drop columns if they exist
drop_cols = ['Cabin', 'Name', 'Ticket']
train_data = train_data.drop(columns=[col for col in drop_cols if col in train_data.columns])

# Fill missing values for numeric columns
train_data.fillna(train_data.select_dtypes(include=['number']).mean(), inplace=True)

# Fill missing values for categorical column without inplace modification
if 'Embarked' in train_data.columns:
    train_data['Embarked'] = train_data['Embarked'].fillna('S')

# Encode categorical variables
encoder = LabelEncoder()
train_data['Sex'] = encoder.fit_transform(train_data['Sex'])
if 'Embarked' in train_data.columns:
    train_data['Embarked'] = encoder.fit_transform(train_data['Embarked'])

# Select features for training
features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]
X = train_data[features]
y = train_data["Survived"]

# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Normalize numerical values
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

print("Data preprocessing successful!")

Data preprocessing successful!

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Train model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")
print(classification_report(y_test, y_pred))

Accuracy: 0.82
              precision    recall  f1-score   support

           0       0.83      0.87      0.85       105
           1       0.80      0.74      0.77        74

    accuracy                           0.82       179
   macro avg       0.81      0.80      0.81       179
weighted avg       0.81      0.82      0.81       179

In [23]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Load test dataset
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")

# Identify numeric and categorical columns
numeric_cols = test_data.select_dtypes(include=['number']).columns
categorical_cols = ["Sex", "Embarked"]

# Fill missing values
test_data[numeric_cols] = test_data[numeric_cols].apply(lambda col: col.fillna(col.mean()))  # Fill missing numerical values with mean
test_data["Embarked"] = test_data["Embarked"].fillna("S")  # Fill missing categorical values

# Encode categorical variables
encoder = LabelEncoder()
test_data["Sex"] = encoder.fit_transform(test_data["Sex"])
test_data["Embarked"] = encoder.fit_transform(test_data["Embarked"])

# Select features
features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]
X_final_test = test_data[features]

# Scale the data using the same scaler from training
scaler = StandardScaler()
X_final_test = scaler.fit_transform(X_final_test)  # Use `fit_transform()` only if `scaler` wasn't trained before

# Make final predictions
test_predictions = model.predict(X_final_test)

# Create a submission file
submission = pd.DataFrame({"PassengerId": test_data["PassengerId"], "Survived": test_predictions})
submission.to_csv("submission.csv", index=False)
print("Submission file saved!")

Submission file saved!

In [24]:
import shutil
shutil.move("submission.csv", "/kaggle/working/submission.csv")

'/kaggle/working/submission.csv'